/* Раздел коллекций */
.md--m-card__gridbox {
  display: grid;
  grid-gap: 24px;
  align-items: flex-start;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .md--m-card__gridbox {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Колонки коллекций */
.md--m-card__gridbox_column {
  display: grid;
  align-items: flex-start;
}

/* Я вам запрещаю делать перенос строки */
.md--m-card__gridbox_column_list br {
  display: none;
}

/* Список коллекций */
.md--m-card__gridbox_column_list {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow-y: auto;
}

@media (min-width: 800px) {
  .md--m-card__gridbox_column_list {
    display: grid;
    grid-row-gap: 24px;
    overflow-y: visible;
  }
}

/* Карточка */
.md--m-card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 0;
  align-self: flex-start;
  overflow: hidden;
  width: 240px;
  margin-right: 6px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  background-color: var(--color-background-dialog);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  transition: box-shadow 160ms ease-in-out;
}

@media (min-width: 800px) {
  .md--m-card {
    width: auto;
    margin: 0;
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  }
  .md--m-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.16);
  }
}

/* Контейнер изображения */
.md--m-card_media {
  position: relative;
  overflow: hidden;
}

/* Aspect ratio 16:9 */
.md--m-card_media::before {
  display: block;
  content: '';
  padding-top: 56.25%;
}

/* Изображение */
.md--m-card_media > img.b-poster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Блок названия */
.md--m-card_primary_section {
  display: flex;
  flex-direction: column;
  padding: 14px;
}

@media (min-width: 800px) {
  .md--m-card_primary_section {
    padding: 16px;
  }
}

/* Название коллекции */
.md--m-card_primary_section_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.75rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--color-text-primary);
}

@media (min-width: 800px) {
  .md--m-card_primary_section_title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    line-height: 2rem;
    font-size: 1rem;
  }
}

/* Автор коллекции */
.md--m-card_primary_section_subhead {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.25rem;
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--color-text-hint);
}

@media (min-width: 800px) {
  .md--m-card_primary_section_subhead {
    font-size: 0.875rem;
  }
}

/* Блок описания */
.md--m-card_hint_section {
  z-index: 1;
}

/* Фикс просветов */
.md--m-card_hint_section.user-defined.active ~ .b-link {
  visibility: hidden;
  opacity: 0;
}

/* Кнопки блока описания */
.md--m-card_hint_section_button {
  display: flex;
  justify-content: center;
  padding: 4px;
  color: var(--color-text-hint);
  transition: color 160ms ease-in-out;
  cursor: pointer;
}

.md--m-card_hint_section_button:hover {
  color: var(--color-text-secondary);
}

.md--m-card_hint_section_button::before {
  margin: auto;
}

/* Всплывающее окно с описанием */
.md--m-card_hint_section_content {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-dialog);
}

.md--m-card_hint_section.user-defined:not(.active) > .md--m-card_hint_section_content {
  display: none;
  pointer-events: none;
}

/* Текст всплывашки */
.md--m-card_hint_section_content_text {
  flex-grow: 1;
  overflow-x: auto;
  padding: 14px;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: normal;
  color: var(--color-text-primary);
}

@media (min-width: 800px) {
  .md--m-card_hint_section_content_text {
    padding: 16px;
    font-size: 1rem;
  }
}

/* Скроллбар для всплывашки */
.md--m-card_hint_section_content_text::-webkit-scrollbar {
  width: 8px;
}

.md--m-card_hint_section_content_text::-webkit-scrollbar-track {
  background: transparent;
}

.md--m-card_hint_section_content_text::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 2px solid var(--color-background-dialog);
  background-color: var(--color-primary);
}

/* Регулировка изображений */

/* Постапокалипсис в манге */
.md--m-card > .b-link[href*='collections/528-'] > .md--m-card_media > img.b-poster {
  object-position: center 30%;
}

/* Гадкий утёнок */
.md--m-card > .b-link[href*='collections/2513-'] > .md--m-card_media > img.b-poster {
  object-position: center 30%;
}

/* Traps & Reverse Traps */
.md--m-card > .b-link[href*='collections/205-'] > .md--m-card_media > img.b-poster {
  object-position: center 5%;
}

/* Веснушки */
.md--m-card > .b-link[href*='collections/2338-'] > .md--m-card_media > img.b-poster {
  object-position: center 60%;
}
