.cc-3::after,
.p-profiles-show .achievements .cc-achievements::after,
.p-profiles-show .achievements .cc-franchises::after {
  display: none;
}

.p-profiles .profile-content .achievements {
  display: block;
}

.p-profiles .profile-content .achievements .cc-3 {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr;
}

@media (min-width: 960px) {
  .p-profiles .profile-content .achievements .cc-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-profiles .profile-content .achievements .cc-3 .c-column {
  display: grid;
  grid-gap: 8px;
  align-self: flex-start;
  width: auto;
  margin: 0;
}

@media (min-width: 960px) {
  .p-profiles .profile-content .achievements .cc-3 .c-column:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.profile-content .achievements .header {
  margin: 0;
  padding: 6px 0;
}

.profile-content .achievements .header .title {
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #757575;
}

.profile-content .achievements .header .size {
  padding: 3px 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  line-height: 1rem;
  font-size: 0.6875rem;
  font-weight: bold;
  color: #999999;
}

.p-profiles .profile-content .achievements .cc-achievements {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr;
}

@media (min-width: 660px) {
  .p-profiles .profile-content .achievements .cc-achievements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .p-profiles .profile-content .achievements .cc-achievements {
    grid-template-columns: 1fr;
  }
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "c-image before";
  overflow: hidden;
  width: auto;
  margin: 0;
  border-radius: 4px;
  transition: 160ms ease-in-out;
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement:hover {
  background: rgba(18, 18, 18, 0.04);
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement:active {
  background: rgba(18, 18, 18, 0.08);
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement:nth-child(n+3) {
  display: none;
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement.is-badge .c-image {
  grid-area: c-image;
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement.is-badge .c-image .inner a img,
.p-profiles .profile-content .achievements .cc-achievements .b-achievement.is-badge .c-image .inner a .no-image {
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement .c-image .inner a .border {
  display: none;
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement.is-badge::before {
  position: absolute;
  display: flex;
  align-items: center;
  grid-area: before;
  content: attr(data-title);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  padding: 0.5rem 1rem;
  white-space: normal;
  line-height: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #212121;
  background: transparent;
}

@media (min-width: 425px) {
  .p-profiles .profile-content .achievements .cc-achievements .b-achievement.is-badge::before {
    line-height: 1.375rem;
  }
}

@media (min-width: 1024px) {
  .p-profiles .profile-content .achievements .cc-achievements .b-achievement.is-badge::before {
    font-size: 0.875rem;
  }
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement.is-badge::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-hint);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 1.5rem 0.5rem 0.25rem 0.5rem;
  border-radius: 4px;
  line-height: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #FAFAFA;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 160ms ease-in-out;
}

@media (min-width: 425px) {
  .p-profiles .profile-content .achievements .cc-achievements .b-achievement.is-badge::after {
    line-height: 1.375rem;
    font-size: 0.875rem;
  }
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement.is-badge:hover::after {
  padding-top: 0.25rem;
  opacity: 1;
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement .c-image .inner > a {
  display: block;
}

.p-profiles .profile-content .achievements .cc-achievements .b-achievement .c-image .inner > a::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: -100%;
  bottom: 0;
  z-index: 1;
}

.p-profiles .profile-content .achievements .cc-franchises {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(6, 1fr);
}

@media (min-width: 960px) {
  .p-profiles .profile-content .achievements .cc-franchises {
    grid-template-columns: repeat(12, 1fr);
  }
}

.p-profiles .profile-content .achievements .cc-franchises .b-badge {
  overflow: hidden;
  margin: 0 !important;
  width: auto;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
}

/*
@media (min-width: 960px) {
  .p-profiles .profile-content .achievements .cc-franchises .b-badge:nth-child(n+11) {
    display: none;
  }
}
*/

.p-profiles .profile-content .achievements .cc-franchises .b-badge.level-0, 
.p-profiles .profile-content .achievements .cc-franchises .b-badge.unavailable {
  filter: grayscale(1);
}

.p-profiles .profile-content .achievements .cc-franchises .b-badge.level-0:not(:hover) img, 
.p-profiles .profile-content .achievements .cc-franchises .b-badge.unavailable:not(:hover) img {
  opacity: 0.8;
}

.p-profiles .profile-content .achievements .cc-franchises .b-badge::before {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  line-height: 1rem;
  font-size: 0.875rem;
  color: #FAFAFA;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 960px) {
  .p-profiles .profile-content .achievements .cc-franchises .b-badge::before {
    font-size: 1rem;
  }
}
