/* Коллекция шрифтов */
@font-face {
  font-family: 'Mansalva';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Mansalva Regular'), local('Mansalva-Regular'), url(https://fonts.gstatic.com/s/mansalva/v1/aWB4m0aacbtDfvq5NKliKY8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Основной размер шрифта на сайте */
html {
  font-size: 16px;
}

/* Ширина страницы */
.l-page {
  max-width: 1000px !important;
}

/* Обложка */
.p-profiles .profile-head::before {
  background-position: center 15% !important;
  background-color: var(--color-background-dialog);
  background-blend-mode: lighten;
}

/* Никнейм */
.p-profiles .profile-head .c-brief header h1 {
  font-family: 'Mansalva', cursive;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* Вкладки */
.m-tabs {
  --t-about-me: #F06292;
  --t-anime: #9575CD;
  --t-manga: #7986CB;
  --t-characters: #64B5F6;
  --t-people: #81C784;
  --t-collections: #FFB74D;
  margin-bottom: 1rem;
}

/* Список переключателей */
.m-tabs > div:not([data-tab]) {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  padding: 0.5rem 0;
}

/* Переключатель */
.m-tabs [data-tab-switch] {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 5.9375rem;
  color: var(--color-text-hint);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

.m-tabs [data-tab-switch]:first-child {
  margin-left: auto;
}

.m-tabs [data-tab-switch]:last-child {
  margin-right: auto;
}
  
.m-tabs [data-tab-switch].active {
  cursor: default;
}

.m-tabs [data-tab-switch]:nth-child(1):active,
.m-tabs [data-tab-switch].active:nth-child(1) {
  color: var(--t-about-me);
}

.m-tabs [data-tab-switch]:nth-child(2):active,
.m-tabs [data-tab-switch].active:nth-child(2) {
  color: var(--t-anime);
}

.m-tabs [data-tab-switch]:nth-child(3):active,
.m-tabs [data-tab-switch].active:nth-child(3) {
  color: var(--t-manga);
}

.m-tabs [data-tab-switch]:nth-child(4):active,
.m-tabs [data-tab-switch].active:nth-child(4) {
  color: var(--t-characters);
}

.m-tabs [data-tab-switch]:nth-child(5):active,
.m-tabs [data-tab-switch].active:nth-child(5) {
  color: var(--t-people);
}

.m-tabs [data-tab-switch]:nth-child(6):active,
.m-tabs [data-tab-switch].active:nth-child(6) {
  color: var(--t-collections);
}

.m-tabs [data-tab-switch][data-icon]::before {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  transition: transform 200ms ease-in-out;
}

.m-tabs [data-tab-switch]:not(.active):hover::before {
  transform: translateY(-0.25rem);
}

/* Название переключателя */
.m-tabs [data-tab-switch] > strong {
  margin: 0 auto;
  padding: 0.25rem 0 0.5rem 0;
  white-space: nowrap;
  line-height: 1rem;
  font-size: 0.875rem;
}

/* Содержимое вкладок */
.m-tabs [data-tab] {
  padding-top: 1rem;
}

/* Заголовки */
.m-headline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-text-hint);
}

.m-headline.sorted {
  justify-content: space-between;
}

/* Списки */
.m-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.m-list br {
  display: none;
}

/* Соцсети */
@media (min-width: 1024px) {
  .m-list.m-link {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
  }
}

.m-list.m-link > .b-link {
  position: relative;
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-column-gap: 0.375rem;
  flex-shrink: 0;
  overflow: hidden;
  width: 11.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border: 0 !important;
  border-radius: 1.25rem;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 160ms ease-in-out;
}

.m-list.m-link > .b-link:hover {
  text-decoration: none !important;
  background-color: var(--color-overlay-text-hovered);
}

@media (min-width: 1024px) {
  .m-list.m-link > .b-link {
    width: auto;
    margin: 0;
  }
}

.m-list.m-link > .b-link::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 70%;
  padding-top: 70%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  opacity: 0;
  pointer-events: none;
}

.m-list.m-link > .b-link:focus-within::after {
  animation: m-ripple 600ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.m-link_img {
  overflow: hidden;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  grid-area: 1 / 1 / 2 / 2;
}

.m-link_img > img.b-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.m-link_info {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  padding-right: 0.625rem;
  line-height: 1rem;
}

.m-link_info > strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}

.m-link_info > em {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  color: var(--color-text-hint);
}

/* Коллекции-карточки */
@media (min-width: 1024px) {
  .m-list.m-card {
    display: grid;
    grid-gap: 0.375rem;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: visible;
  }
}

.m-list.m-card > .b-link {
  position: relative;
  display: grid;
  flex-shrink: 0;
  overflow: hidden;
  width: 15rem;
  margin-right: 0.375rem;
  border-radius: 0.1875rem;
  border: 1px solid var(--color-border) !important;
  background-color: var(--color-background-dialog);
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 160ms ease-in-out;
}

.m-list.m-card > .b-link:hover {
  text-decoration: none !important;
}

@media (min-width: 1024px) {
  .m-list.m-card > .b-link {
    width: auto;
    margin-right: 0;
    border: 0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
  }
  .h-card_list > .b-link:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.16);
  }
}

.m-list.m-card > .b-link::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 160ms ease-in-out;
  pointer-events: none;
}

.m-list.m-card > .b-link:hover::before {
  background-color: var(--color-overlay-text-hovered);
}

.m-list.m-card > .b-link::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 120%;
  padding-top: 120%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  opacity: 0;
  pointer-events: none;
}

.m-list.m-card > .b-link:focus-within::after {
  animation: m-ripple 800ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.m-card_img {
  display: block;
  overflow: hidden;
  height: 8.75rem;
}

.m-card_img > img.b-poster {
  display: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.m-list.m-card > .b-link:nth-child(1) .m-card_img > img.b-poster {
  object-position: center 35%;
}

.m-card_info {
  display: grid;
  line-height: 1rem;
}

.m-card_info > strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1rem;
  font-size: 0.875rem;
  color: var(--color-text-primary);
}

.m-card_info > em {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1rem 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  color: var(--color-text-hint);
}

/* Ripple */
@keyframes m-ripple {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}

/* Постеры */

/* Ограничение высоты */
.about .b-catalog_entry .image-cutter {
  max-width: none !important;
  max-height: none !important;
}

/* Отмена работы срипта */

/* Единое регулирование размера обложек */
.b-catalog_entry .cover .image-cutter::before {
  content: '';
  display: block;
  padding-bottom: 155.5%;
}

/* Позиционирование изображения */
.b-catalog_entry .cover .image-cutter img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

/* Фикс постеров персонажей и людей */
.b-catalog_entry.c-character .cover .image-cutter img,
.b-catalog_entry.c-person .cover .image-cutter img {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* Модуль оценок */

/* Модуль */
[data-localized_names='ru'] .about .b-catalog_entry .name-en,
[data-localized_names='en'] .about .b-catalog_entry .name-ru {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6px;
  left: -4px;
  padding: 0.25rem 0.5rem;
  border-radius: 2px 2px 2px 0;
  line-height: 1.0625rem;
  font-size: 0;
  color: #FAFAFA;
  background: #2196F3;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.42);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (min-width: 481px) {
  [data-localized_names='ru'] .about .b-catalog_entry .name-en,
  [data-localized_names='en'] .about .b-catalog_entry .name-ru {
    left: -6px;
  }
}
  
[data-localized_names='ru'] .about .b-catalog_entry .name-en::before,
[data-localized_names='en'] .about .b-catalog_entry .name-ru::before {
  position: absolute;
  top: 100%;
  left: 0;
  border-width: 4px 6px;
  border-style: solid;
  border-color: #1976D2 transparent transparent;
  line-height: 1;
  z-index: -1;
}
  
[data-localized_names='ru'] .about .b-catalog_entry .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry .name-ru::after {
  font-size: 0.875rem !important;
}

/* Оценки (Аниме) */

/* JoJo no Kimyou na Bouken (TV) */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/14719-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/14719-'] .name-ru {
  opacity: 1;
  visibility: visible;
}
  
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/14719-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/14719-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/14719-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/14719-'] .name-ru::after {
  content: '8.00';
}

/* JoJo no Kimyou na Bouken Part 3: Stardust Crusaders */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/20899-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/20899-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/20899-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/20899-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/20899-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/20899-'] .name-ru::after {
  content: '9.20';
}

/* JoJo no Kimyou na Bouken Part 3: Stardust Crusaders 2nd Season */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/26055-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/26055-'] .name-ru {
  opacity: 1;
  visibility: visible;
}
  
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/26055-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/26055-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/26055-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/26055-'] .name-ru::after {
  content: '9.60';
}

/* JoJo no Kimyou na Bouken Part 4: Diamond wa Kudakenai */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/31933-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/31933-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/31933-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/31933-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/31933-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/31933-'] .name-ru::after {
  content: '9.85';
}

/* JoJo no Kimyou na Bouken Part 5: Ougon no Kaze */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/37991-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/37991-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/37991-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/37991-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/37991-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/37991-'] .name-ru::after {
  content: '8.65';
}

/* Naruto */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/20-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/20-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/20-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/20-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/20-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/20-'] .name-ru::after {
  content: '8.80';
}

/* Naruto: Shippuuden */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/1735-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/1735-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/1735-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/1735-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/1735-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/1735-'] .name-ru::after {
  content: '8.60';
}

/* Hunter x Hunter (2011) */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/11061-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/11061-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/11061-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/11061-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/11061-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/11061-'] .name-ru::after {
  content: '9.50';
}

/* Kenpuu Denki Berserk */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/33-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/33-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/33-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/33-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/33-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/33-'] .name-ru::after {
  content: '10.0';
}

/* Made in Abyss */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/34599-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/34599-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/34599-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/34599-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/34599-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/34599-'] .name-ru::after {
  content: '9.50';
}

/* Berserk: Ougon Jidai-hen III - Kourin */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/12115-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/12115-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/12115-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='animes/12115-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/12115-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='animes/12115-'] .name-ru::after {
  content: '9.90';
}

/* Оценки (Манга) */

/* JoJo no Kimyou na Bouken Part 3: Stardust Crusaders */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/872-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/872-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/872-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/872-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/872-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/872-'] .name-ru::after {
  content: '9.50';
}

/* JoJo no Kimyou na Bouken Part 4: Diamond wa Kudakenai */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/3006-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/3006-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/3006-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/3006-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/3006-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/3006-'] .name-ru::after {
  content: '9.80';
}

/* JoJo no Kimyou na Bouken Part 5: Ougon no Kaze */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/3008-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/3008-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/3008-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/3008-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/3008-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/3008-'] .name-ru::after {
  content: '8.60';
}

/* JoJo no Kimyou na Bouken Part 6: Stone Ocean */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/3009-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/3009-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/3009-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/3009-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/3009-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/3009-'] .name-ru::after {
  content: '9.80';
}

/* Naruto */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/11-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/11-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/11-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/11-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/11-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/11-'] .name-ru::after {
  content: '9.80';
}

/* Nisekoi */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/31499-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/31499-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/31499-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/31499-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/31499-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/31499-'] .name-ru::after {
  content: '9.50';
}

/* Tokyo Ghoul */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/33327-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/33327-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/33327-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/33327-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/33327-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/33327-'] .name-ru::after {
  content: '9.00';
}

/* Tokyo Ghoul:re */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/81117-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/81117-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/81117-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/81117-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/81117-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/81117-'] .name-ru::after {
  content: '9.00';
}

/* Gantz */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/564-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/564-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/564-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/564-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/564-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/564-'] .name-ru::after {
  content: '9.50';
}

/* Oyasumi Punpun */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/4632-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/4632-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/4632-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/4632-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/4632-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/4632-'] .name-ru::after {
  content: '10.0';
}

/* Uzumaki */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/436-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/436-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/436-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/436-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/436-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/436-'] .name-ru::after {
  content: '8.50';
}

/* Kodomo no Jikan */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/582-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/582-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/582-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/582-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/582-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/582-'] .name-ru::after {
  content: '9.60';
}

/* Koroshiya 1 */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/932-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/932-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/932-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='mangas/932-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/932-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='mangas/932-'] .name-ru::after {
  content: '8.20';
}

/* Заметки (Персонажи) */

/* Chitoge Kirisaki */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='characters/48391-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='characters/48391-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='characters/48391-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='characters/48391-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='characters/48391-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='characters/48391-'] .name-ru::after {
  content: '🦍';
}

/* Kanna Kamui */
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='characters/136728-'] .name-en,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='characters/136728-'] .name-ru {
  opacity: 1;
  visibility: visible;
}

[data-localized_names='ru'] .about .b-catalog_entry > a[href*='characters/136728-'] .name-en::before,
[data-localized_names='ru'] .about .b-catalog_entry > a[href*='characters/136728-'] .name-en::after,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='characters/136728-'] .name-ru::before,
[data-localized_names='en'] .about .b-catalog_entry > a[href*='characters/136728-'] .name-ru::after {
  content: 'Богиня';
}

/* Дополнительные настройки */

/* Правки */
.p-animes-show .cc-related-authors > .c-column .b-options-floated a, 
.p-mangas-show .cc-related-authors > .c-column .b-options-floated a, 
.p-ranobe-show .cc-related-authors > .c-column .b-options-floated a { 
  letter-spacing: -1px;
}

.p-profiles-show .about a:hover {
  text-decoration: none;
}

/* Скроллбар */
body::-webkit-scrollbar-button:vertical:decrement {
  background-color: var(--color-menu-background);
  height: 56px;
}

body::-webkit-scrollbar {
  -webkit-appearance: unset;
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--color-border);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-hovered);
}

body::-webkit-scrollbar-thumb:active {
  background: var(--color-primary-pressed);
}
